<div>
    <h1>hi <%= comment.user.name %></h1>
    <br>
    <br>
    <br>
    <p>Your comment <strong> <%= comment.content %> </strong> Just got published on Codeial</p>
    <br>
    <br>
    <br>
    <h1>Thanks!</h1>
</div>