
body{
    
    margin: 0;
    text-align: left;
    // background-color: rgba(128, 200, 200, 0.605);
    color: rgb(167, 39, 39);
    // min-height: 65vh;
    
    main{
        display: block;
        min-height: 90vh;
    }

   
}