header {
  display: flex;
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: rgb(91, 171, 220);
  justify-content: space-between;
}
header a {
  text-decoration: none;
}
header h1 {
  margin-top: auto;
  margin-bottom: auto;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
header ul li {
  padding-left: 5px;
}