<link rel="stylesheet" href="/css/footer.css">
<footer>
    <!-- <hr> -->
    <div id="footer-div">
        <div>
            <i class="fa-regular fa-copyright"></i>
            Coding Ninjas. All right Reserved
        </div>
        
    </div>
</footer>