<h1>Sign In</h1>

<form action="/users/create-session" method="post">
    <label for="email"> email</label>
    <input type="email" name="email" id="email" />

    <label for="password"> Password</label>
    <input type="password" name="password" id="password">

    <!-- <label for=""></label> -->
    <button type="submit"> singn in</button>
</form>

<p><a href="/users/auth/google">Sign-up/ Sign-in With google</a></p>